Repository wireapp/wire-web-core, pull requests merged in 2021-05, with the labels that each got.

#12 feat(proteus): Run benchmark with custom amount of threads
  packages/proteus/README.md
  packages/proteus/package.json
  packages/proteus/src/start/startBenchmark.ts
  yarn.lock
Labels: type: feature / request ✨

#43 chore: Auto-merge workflow for dependency updates
  .github/auto-merge.yml
  .github/workflows/merge-dependencies.yml
Labels: comp: infrastructure, type: chore 🧹

#44 refactor: Remove prettier-ignore
  packages/cbor/README.md
  packages/proteus/src/derived/DerivedSecrets.test.ts
  packages/proteus/src/derived/MacKey.test.ts
  packages/proteus/src/message/Message.test.ts
  packages/proteus/src/util/ArrayUtil.test.ts
Labels: type: refactoring 🛠
